{:source-paths ["src"]
 :dependencies [
                [org.clojure/core.async "0.4.500"]
                [reagent "0.9.0"]
                [markdown-to-hiccup "0.6.2"]
                [com.taoensso/timbre "5.0.0"]               ;; TODO move to some sort of dev dependency?
                [cljs-http "0.1.46"]
                [editoreable "0.1.0-SNAPSHOT"]
                ]
 :dev-http     {3449 "resources/public/"}
 :builds       {:app  {:output-dir "resources/public/clojure"
                       :asset-path "."
                       :dev        {:closure-defines {crumborn.core/ws-url "ws://localhost:8885"
                                                      crumborn.core/env    "dev"}}
                       :release    {:closure-defines {crumborn.core/ws-url "wss://erkanp.dev"
                                                      crumborn.core/env    "release"}}
                       :target     :browser
                       :modules    {:main {:init-fn crumborn.main/init!}}
                       :devtools   {:after-load crumborn.main/reload!}}
                :test {:target       :node-test
                       :ns-regexp    "crumborn"
                       :source-paths ["src"]
                       :autorun      true
                       }}}